
@font-family: 'Verdana', Geneva, sans-serif;

* {
	font-family: @font-family;
}

.date{
	text-align: center;
	font-size: 200%;

	margin: 1em;
}
.vote{
	text-align: center;
	padding: 1em;
}
.content{
	.title, .vote{
		font-weight: 900;
		font-size: 125%;
	}
	.title{
		a {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			text-decoration: none;
			display: block;
			color: black;

			&:hover {
				text-decoration: none;
			}
		}
	}
	.author{
		font-size: 125%;
	}
}

#subreddits{
	background-color: gray;
	height: 50px;
	width: 100%;

	span{
		.menutext();
		padding-right: 30px;
	}
}
#header{
	margin: 0;
}

.menutext(){
	font-size: 250%;
	font-weight: 900;
	color: white;
	margin: 0 auto;
}